@media screen and (min-width : 1540px) {
    #bloc_page {
        border: 1px solid blue;
        width: 100%;
    }

    .vignette_hotel {
        border: 1px solid blue;
        background-color: white;
        margin: 12px;
        border-radius: 20px;
        width: 280px;
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 10px 12px lightgrey;
    }


    @media screen and (min-width : 1900px) {
        .vignette_hotel {
            border: 1px solid blue;
            background-color: white;
            margin: 12px;
            border-radius: 20px;
            width: 370px;
            height: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 5px 10px 12px lightgrey;
        }
    }

}