@media screen and (max-width: 768px) {
    #bloc_page {
        /* border: 1px solid blue; */
        width: 100%;
    }

    body {
        /* border: 1px solid yellow; */
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* ///////// HEADER ///////// */

    .bloc_header {
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    header {
        /* border: 1px solid yellow; */
        width: 100%;
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: justify;
    }

    .header_logo {
        /* border: 1px solid yellow; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* border: 1px solid yellow; */
    }

    .header_nav {
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        font-size: 16px;
    }

    .header_ul {
        /* border: 1px solid yellow; */
        margin-top: 0px;
        margin-bottom: 2px;
        width: 50%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header_ul:hover {
        text-decoration: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
        margin-bottom: 0;
    }

    .header_ul a {
        /* border: 1px solid yellow; */
        margin: 15px;
    }

    .titre_principal {
        /* border: 1px solid yellow; */
        margin: 0px 20px 0 19px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .titre_principal h1 {
        /* border: 1px solid yellow; */
        text-align: left;
        font-size: 24px;
    }

    .titre_principal p {
        /* border: 1px solid yellow; */
        font-size: 16px;
        margin-top: 2%;
    }

    /* ///////// FILTRE RECHERCHE ///////// */

    #rechercher {
        display: none;
    }

    #rechercher_mobile {
        /* border: 1px solid yellow; */
        padding-left: 3%;
        height: 50px;
        display: flex;
        align-items: flex-start;
    }

    #rechercher_mobile i {
        /* border: 1px solid yellow; */
        border: 2.5px solid #F2F2F2;
        display: flex;
        border-radius: 35%;
        border-bottom-right-radius: 0%;
        border-top-right-radius: 0%;
        background-color: #F2F2F2;
        margin-right: -10px;
        width: 45px;
        height: 45px;
        align-items: center;
        justify-content: center;
    }

    #rechercher_mobile input {
        /* border: 1px solid yellow; */
        border: 2px solid #F2F2F2;
        border-left: none;
        border-right: none;
        width: 65%;
        height: 50px;
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
        padding-left: 15px;
    }

    #icone_loupe i {
        /* border: 1px solid yellow; */
        display: flex;
        border-radius: 35%;
        background-color: #0065FC;
        color: #F2F2F2;
        align-items: center;
        justify-content: center;
    }

    .filtres {
        /* border: 1px solid yellow; */
        width: 400px;
        margin: 0 20px;
        display: flex;
        font-weight: bolder;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres h2 {
        /* border: 1px solid yellow; */
        width: 100%;
        margin: 35px 0 -10px 0;
    }

    .filtres p {
        /* border: 1px solid yellow; */
        margin-bottom: 0;
    }

    .filtres nav {
        width: 100%;
        /* border: 1px solid yellow; */
    }

    .filtres ul {
        /* border: 1px solid yellow; */
        display: flex;
        list-style: none;
        height: 195px;
        width: 100%;
        max-width: 400px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: space-around;
    }

    .filtre_vignette {
        /* border: 1px solid yellow; */
        height: 47px;
        border: 2px solid lightgrey;
        border-radius: 40px;
        display: flex;
        flex-direction: row;
        font-size: 17px;
        align-items: center;
        margin: 0px 0px 0px 10px;
    }

    .filtre_vignette a {
        /* border: 1px solid yellow; */
        margin: 20px;
        display: flex;
        justify-content: flex-start;
    }

    .info_ville {
        /* border: 1px solid yellow; */
        width: 400px;
        margin: 0 20px;
        align-items: baseline;
    }

    .info_ville p {
        /* border: 1px solid yellow; */
        margin: 0;
    }

    .icone_info {
        border: 1px solid lightgrey;
        border-radius: 40px;
        width: 20px;
        height: 20px;
        color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icone_info p {
        /* border: 1px solid yellow; */
        display: flex;
        height: 60px;
        margin: 0;
        align-items: flex-end;
    }

    /* //////////////////////////// CENTRE PAGE LES PLUS POPULAIRES + HEBERGEMENTS ////////////////////////////// */

    .centre_page {
        /* border: 1px solid yellow; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .populaire {
        /* border: 1px solid yellow; */
        background-color: #F2F2F2;
        width: 100%;
        border-radius: inherit;
        display: flex;
        justify-content: flex-start;
    }

    .header_populaire {
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        margin: 30px 10px 0 20px;
        align-content: space-between;
    }

    .populaire h1 {
        width: 70%;
        margin: 0%;
        /* border: 1px solid yellow; */
    }

    .icone_populaire {
        /* border: 1px solid yellow; */
        margin-right: 0;
    }

    .vignette_populaire {
        /* border: 1px solid yellow; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 0;
        justify-content: center;
    }

    .vignette_populaire_hotel {
        /* border: 1px solid yellow; */
        background-color: white;
        margin: 20px;
        border-radius: 20px;
        width: 100%;
        height: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .vignette_hebergement {
        /* border: 1px solid yellow; */
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
    }

    a {
        /* border: 1px solid yellow; */
        background-color: transparent;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .vignette_hotel {
        /* border: 1px solid yellow; */
        border-radius: 20px;
        width: 100%;
        margin: 20px;
    }

    .texte_vignette {
        /* border: 1px solid yellow; */
        display: flex;
        text-align: start;
        margin: 3% 0 3% -15%;
        height: 37%;
        width: 80%;
        flex-direction: column;
        justify-content: space-between;
    }

    .ancre_hebergement {
        /* border: 1px solid yellow; */
        margin: 45px 0px 0px 25px;
    }

    .hebergement_marseille {
        /* border: 1px solid yellow; */
        background-color: inherit;
        display: flex;
        width: 100%;
        height: auto;
        margin: 0;
        border-radius: inherit;
        flex-direction: column;
    }

    .hebergement_marseille h1 {
        /* border: 1px solid yellow; */
        margin: 13px 0 13px 20px;
        width: 70%;
    }

    section h1 {
        /* border: 1px solid yellow; */
        display: flex;
        justify-content: flex-start;
        margin-left: 40px;
        width: auto;
    }

    .afficher_plus {
        /* border: 1px solid yellow; */
        width: 110px;
        margin-left: 25px;
        font-size: 17px;
        display: flex;
        justify-content: center;
    }

    /* ///////////////////////////////////////////------------ARTICLE ACTIVITES A MARSEILLE------------//////////////////////////////////////////////// */

    .bloc_activites {
        /* border: 1px solid yellow; */
        margin-top: 40px;
    }

    .bloc_activites h1{
        margin: 20px 0 0 20px
    }

    .article_activites {
        /* border: 1px solid yellow; */
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .article_vignette--mobile {
        /* border: 1px solid yellow; */
        border-radius: 20px;
        width: 100%;
        height: 200px;
        margin: 20px;
        box-shadow: 5px 10px 12px lightgrey;
    }

    .article_vignette--mobile img {
        /* border: 1px solid yellow; */
        border-radius: 12px 12px 0 0;
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    /* //////////////////////////////////// FOOTER ////////////////////////////////////////// */
    footer {
        /* border: 1px solid yellow; */
        background: #F2F2F2;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .bloc_footer{
        width: 100%;
        max-width: 1440px;
        justify-content: center;
    }

    .footer_navigation {
        /* border: 1px solid yellow; */
        width: 75%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 25px;
    }

    .propos {
        /* border: 1px solid yellow; */
        height: 125px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .hebergements {
        /* border: 1px solid yellow; */
        height: 125px;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }

    .assistance {
        /* border: 1px solid yellow; */
        height: 125px;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
}